.main-page-mat-toolbar{
    background: transparent;
    display: flex;
    justify-content: flex-start;
}

.mat-toolbar-general-page{
    display: flex;
    justify-content: flex-start;
}

a{
    color: white;
    padding: 15px;
}

.home-icon{
    color: white;
    margin: 5px;
}