.main-page-mat-toolbar{
    background: transparent;
    display: flex;
    justify-content: flex-start;
}

.mat-toolbar-general-page{
    background: #4d46ce;
    display: flex;
    justify-content: flex-start;
}

a{
    color: white;
    padding: 10px;
}