<div id="background">
  <mat-card>
    <img class="login-image" src="../../assets/login-pic.jpg">
    <mat-card-content>
        <form>
          <h1 class="title">User Login</h1>

          <mat-form-field appearance="outline" class="field">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label>Email id</mat-label>
            <input matInput placeholder="email">
          </mat-form-field>

          <mat-form-field appearance="outline" class="field">
            <mat-icon matPrefix>https</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput placeholder="password">
          </mat-form-field>

          <button mat-raised-button color="primary" [routerLink]="'/table'" class="login-button">Login</button>
          <a>Forgot Username/Password?</a>
        </form>
    </mat-card-content>
  </mat-card>
</div>